.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.buttons {
  background-color: #f2bf27;
  border: none;
  width: 27px;
  height: 27px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons[disabled] {
  background-color: #ffdf7e;
  cursor: no-drop;
}

.input-pag {
  width: 21px;
  height: 21px;
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  text-align: center;
  color: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  color: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
}
